# Environments
.env
.env.*
!.env.example

# Virtual environments
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data and Models
data/
vector_db/

# Scratch & Logs
scratch/
*.log

# IDEs
.vscode/
.idea/
.DS_Store
